.TodoItem {
    padding: .5em;
    display: flex;
    align-items: center;
    background: white;
}

.TodoItem>.title {
    flex-grow: 1;
    padding: 0 .5em;
}

button {
    border: none;
    cursor: pointer;
    background-color: #15222a;
    color: #fff;
    font-size: 12px;
    padding: 3px 10px;
    border-radius: 3px;
    outline: none;
    text-decoration: none;
}

button:hover {
    background-color: #4b94fc;
    color: #000;
}