.TodoItem {
    padding: .5em;
    display: flex;
    align-items: center;
    background: white;
}

.TodoItem>.title {
    flex-grow: 1;
    padding: 0 .5em;
}

input{
    line-height: 1.8;
    border: 1px solid #b8b8b8;
    border-radius: 3px;
    font-size: 16px;
    padding: 0 .3em;
}

input:focus{
    outline: none;
    border-color: #4b94fc;
}

button {
    border: none;
    cursor: pointer;
    background-color: #15222a;
    color: #fff;
    font-size: 12px;
    padding: 3px 10px;
    border-radius: 3px;
    outline: none;
    text-decoration: none;
    margin-left: 4px;
}

button:hover {
    background-color: #4b94fc;
    color: #000;
}